* {
  box-sizing: border-box;
}
@font-face {
  /* http://www.dafont.com/ds-digital.font */
  font-family: 'DS-Digital';
  src: url(DS-DIGII.TTF);
}
body {
  background: url(http://goo.gl/nMKv30) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}
.calc-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  border-radius: 17px;
  background: #ccc;
  width: 60%;
  height: 80%;
}
.calc-container .readout {
  position: relative;
  width: 100%;
  height: 15vmin;
  background: gray;
  border-radius: 10px;
  font-family: 'DS-Digital', monospace, sans-serif;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  font-size: 8vmin;
  font-weight: bold;
  overflow: hidden;
}
.calc-container .plain-readout {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 3vmin;
  font-weight: 100;
  height: 8vmin;
  border-radius: 10px;
  margin-top: 10px;
  padding-right: 10px;
  background: #acacac;
}
.calc-container .buttons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 5vmin;
  padding: 5px;
  margin-top: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  background: #acacac;
}
.calc-container .buttons .numbers {
  -webkit-flex-grow: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.calc-container .buttons .numbers .row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.calc-container .buttons .operators {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.calc-container .buttons .operators .operator {
  border: 1px solid gray;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 5px;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.calc-container .buttons .button {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.calc-container .buttons .button#number0 {
  -webkit-flex-grow: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
}
.calc-container .buttons .button#colon {
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}
.calc-container .buttons .button:hover {
  background: white;
}
.calc-container .buttons .button.active {
  background: black;
  color: white;
}
@media screen and (max-width: 767px) {
  .calc-container {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
  .calc-container .readout {
    height: 15vh;
    font-size: 10vh;
  }
  .calc-container .plain-readout {
    height: 10vh;
    font-size: 4vh;
  }
  .calc-container .buttons {
    padding: 3px;
  }
  .calc-container .buttons .button {
    font-size: 6vh;
    margin: 3px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .calc-container {
    width: 80%;
    height: 80%;
  }
  .calc-container .readout {
    height: 15vh;
    font-size: 10vh;
  }
  .calc-container .plain-readout {
    height: 10vh;
    font-size: 4vh;
  }
  .calc-container .buttons {
    padding: 3px;
  }
  .calc-container .buttons .button {
    font-size: 5vh;
  }
}
